@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,500;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width{
  max-width: 1300px;
  padding: 0.80px;
  margin: auto;
}

#naveBar {
  position: fixed;
  width: 100%;
  background: black;
  padding: 30px 0;
  font-family: 'Barlow', sans-serif;
}
 .logo span{
  color: #7235ae;
}
#naveBar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#naveBar .logo a{
  color: white;
  font-size: 35px;
  font-weight: 500;
}
#naveBar .menu li{
  list-style: none;
  display: inline-block;
}
#naveBar .menu li a{
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.4s ease-out;
}
#naveBar .menu li a:hover{
  color: #7235ae;
}
/* style home*/
.home {
  display: flex;
  background-image: url(img/home.svg);
  height: 100vh;
  color: #fff;
  min-height: 500;
  font-family: 'Barlow', sans-serif;
}
.home .max-width{
  margin: 18em 13em;
}
.home .content-home .text1{
  font-size: 30px;
}
.home .content-home .text2{
  font-size: 70px;
  font-weight: 500;
  margin-left: -4px;
}
.home .content-home .text3{
  font-size: 40px;
  margin: 6px 0;
}
.home span{
  color: #7235ae;
}








body {
  background-color: black;
 
}

/*
#Project{
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 500px;
}
img{
  width: 200px;
  border-radius: 8px;
}
/*
ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px;

}



a{
  display: block;
  margin-bottom: 12px;
  color:aliceblue;
}
*/